In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from dateutil import parser

In [2]:
#read data
df_origin = pd.read_csv("seoul_cir.csv")

In [3]:
#check loaded data without first row

df = df_origin.ix[1:]
df.head()

,"﻿""관측일자""",지점명,평균기온(℃),최저기온(℃),최대기온(℃),평균습도(%),최저습도(%),최고습도(%),평균풍속(m/s),최대풍속(m/s),강수량(mm)
1,20160127,남산,-0.10000000149011612,-3.4000000953674316,3.2000000476837158,49.299999237060547,26.399999618530273,71.900001525878906,1,4.5999999046325684,0
2,20160127,강서,0,-3.7999999523162842,3.5999999046325684,62.099998474121094,43.400001525878906,73.900001525878906,1.1000000238418579,4.0999999046325684,0
3,20160127,성북,0.20000000298023224,-3.0999999046325684,3.9000000953674316,56.200000762939453,39.900001525878906,65.800003051757812,1.1000000238418579,5.1999998092651367,0
4,20160127,도봉,-0.40000000596046448,-4.8000001907348633,4.0999999046325684,56.799999237060547,37,75.5,0.89999997615814209,3.7000000476837158,0
5,20160127,마포,-0.30000001192092896,-4,3.7999999523162842,61.099998474121094,41.799999237060547,74.300003051757812,0.89999997615814209,4.6999998092651367,0

In [4]:
#change column name
df.columns = ['date','place', 'avg_temp', 'l_temp','h_temp','avg_hum','l_hum','h_hum','avg_wind','h_wind','rain']
df.head()

,date,place,avg_temp,l_temp,h_temp,avg_hum,l_hum,h_hum,avg_wind,h_wind,rain
1,20160127,남산,-0.10000000149011612,-3.4000000953674316,3.2000000476837158,49.299999237060547,26.399999618530273,71.900001525878906,1,4.5999999046325684,0
2,20160127,강서,0,-3.7999999523162842,3.5999999046325684,62.099998474121094,43.400001525878906,73.900001525878906,1.1000000238418579,4.0999999046325684,0
3,20160127,성북,0.20000000298023224,-3.0999999046325684,3.9000000953674316,56.200000762939453,39.900001525878906,65.800003051757812,1.1000000238418579,5.1999998092651367,0
4,20160127,도봉,-0.40000000596046448,-4.8000001907348633,4.0999999046325684,56.799999237060547,37,75.5,0.89999997615814209,3.7000000476837158,0
5,20160127,마포,-0.30000001192092896,-4,3.7999999523162842,61.099998474121094,41.799999237060547,74.300003051757812,0.89999997615814209,4.6999998092651367,0

In [5]:
#set gu_name list for pop out gu data
seoul_gu_list =['강남구', '강동구', '강북구', '강서구', '관악구', '광진구',
'구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구',
'서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구',
'종로구', '중구구', '중랑구']

In [6]:
#set list data to dataframe['place'] data  remove'구'
seoul_list = []
for i in seoul_gu_list:
    ii = i[:-1]
    seoul_list.append(ii)
seoul_list

['강남',
 '강동',
 '강북',
 '강서',
 '관악',
 '광진',
 '구로',
 '금천',
 '노원',
 '도봉',
 '동대문',
 '동작',
 '마포',
 '서대문',
 '서초',
 '성동',
 '성북',
 '송파',
 '양천',
 '영등포',
 '용산',
 '은평',
 '종로',
 '중구',
 '중랑']

In [7]:
#make initial each gu df as dictionary 
#initial data is '성북' data
seoul_df_dict = {'강남':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '강동':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '강북':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '강서':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '관악':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '광진':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '구로':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '금천':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '노원':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '도봉':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '동대문':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '동작':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '마포':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '서대문':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '서초':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '성동':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '성북':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '송파':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '양천':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '영등포':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '용산':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '은평':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '종로':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '중구':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '중랑':pd.DataFrame(list(df.ix[3]), index=df.columns)}

In [8]:
#transpose all df in seoul_df_dict
for i in seoul_list:
    seoul_df_dict[i] = seoul_df_dict[i].T
seoul_df_dict['종로']

,date,place,avg_temp,l_temp,h_temp,avg_hum,l_hum,h_hum,avg_wind,h_wind,rain
0,20160127,성북,0.20000000298023224,-3.0999999046325684,3.9000000953674316,56.200000762939453,39.900001525878906,65.800003051757812,1.1000000238418579,5.1999998092651367,0

In [9]:
#classify data by gu with dictionary
#key of dict : gu_name
#value of dict : gu dataframe
for i in seoul_list:
    seoul_df_dict[i] = seoul_df_dict[i].append(df[df.place == i])

#check data
seoul_df_dict['종로'].head()

,date,place,avg_temp,l_temp,h_temp,avg_hum,l_hum,h_hum,avg_wind,h_wind,rain
0,20160127,성북,0.20000000298023224,-3.0999999046325684,3.9000000953674316,56.200000762939453,39.900001525878906,65.800003051757812,1.1000000238418579,5.1999998092651367,0
21,20160127,종로,0.69999998807907104,-2.4000000953674316,4.4000000953674316,50.799999237060547,35.799999237060547,61.299999237060547,0.69999998807907104,3.7000000476837158,0
47,20160126,종로,-2,-6.1999998092651367,3,58,43.299999237060547,75.400001525878906,0.5,4,0
73,20160125,종로,-8.3000001907348633,-12.100000381469727,-2.7000000476837158,43.299999237060547,26.899999618530273,58.700000762939453,0.89999997615814209,3.9000000953674316,0
102,20160124,종로,-13.300000190734863,-16.700000762939453,-9.6999998092651367,43.700000762939453,31,53,1.7000000476837158,4.5999999046325684,0

In [10]:
#check dict keys and make key list
seoul_df_key_list = list(seoul_df_dict.keys())

In [11]:
#get 'avg_temp' column and update each gu_dict dataframe
for i in seoul_df_key_list:
    seoul_df_dict[i] = pd.DataFrame({
            'avg_temp': pd.Series(list(seoul_df_dict[i].avg_temp), index=list(seoul_df_dict[i].date))
        })
    seoul_df_dict[i] = seoul_df_dict[i].avg_temp[1:]

#check data
seoul_df_dict['서초'].head()

20160127    0.89999997615814209
20160126    -1.7000000476837158
20160125                   -7.5
20160124    -12.300000190734863
20160123    -8.8000001907348633
Name: avg_temp, dtype: object

In [13]:
#get index as list and check
date_list = list(seoul_df_dict['서초'].index)
date_list

['20160127',
 '20160126',
 '20160125',
 '20160124',
 '20160123',
 '20160122',
 '20160121',
 '20160120',
 '20160119',
 '20160118',
 '20160117',
 '20160116',
 '20160115',
 '20160114',
 '20160113',
 '20160112',
 '20160111',
 '20160110',
 '20160109',
 '20160108',
 '20160107',
 '20160106',
 '20160105',
 '20160104',
 '20160103',
 '20160102',
 '20160101',
 '20151231',
 '20151230',
 '20151229',
 '20151228',
 '20151227',
 '20151226',
 '20151225',
 '20151224',
 '20151223',
 '20151222',
 '20151221',
 '20151220',
 '20151219',
 '20151218',
 '20151217',
 '20151216',
 '20151215',
 '20151214',
 '20151213',
 '20151212',
 '20151211',
 '20151210',
 '20151209',
 '20151208',
 '20151207',
 '20151206',
 '20151205',
 '20151204',
 '20151203',
 '20151202',
 '20151201',
 '20151130',
 '20151129',
 '20151128',
 '20151127',
 '20151126',
 '20151125',
 '20151124',
 '20151123',
 '20151122',
 '20151121',
 '20151120',
 '20151119',
 '20151118',
 '20151117',
 '20151116',
 '20151115',
 '20151114',
 '20151113',
 '20151112',
 '20151111',
 '20151110',
 '20151109',
 '20151108',
 '20151107',
 '20151106',
 '20151105',
 '20151104',
 '20151103',
 '20151102',
 '20151101',
 '20151031',
 '20151030',
 '20151029',
 '20151028',
 '20151027',
 '20151026',
 '20151025',
 '20151024',
 '20151023',
 '20151022',
 '20151021',
 '20151020',
 '20151019',
 '20151018',
 '20151017',
 '20151016',
 '20151015',
 '20151014',
 '20151013',
 '20151012',
 '20151011',
 '20151010',
 '20151009',
 '20151008',
 '20151007',
 '20151006',
 '20151005',
 '20151004',
 '20151003',
 '20151002',
 '20151001',
 '20150930',
 '20150929',
 '20150928',
 '20150927',
 '20150926',
 '20150925',
 '20150924',
 '20150923',
 '20150922',
 '20150921',
 '20150920',
 '20150919',
 '20150918',
 '20150917',
 '20150916',
 '20150915',
 '20150914',
 '20150913',
 '20150912',
 '20150911',
 '20150910',
 '20150909',
 '20150908',
 '20150907',
 '20150906',
 '20150905',
 '20150904',
 '20150903',
 '20150902',
 '20150901',
 '20150831',
 '20150830',
 '20150829',
 '20150828',
 '20150827',
 '20150826',
 '20150825',
 '20150824',
 '20150821',
 '20150820',
 '20150819',
 '20150818',
 '20150817',
 '20150814',
 '20150813',
 '20150812',
 '20150811',
 '20150810',
 '20150806',
 '20150805',
 '20150804',
 '20150801',
 '20150731',
 '20150730',
 '20150729',
 '20150728',
 '20150727',
 '20150725',
 '20150724',
 '20150723',
 '20150722',
 '20150721',
 '20150720',
 '20150719',
 '20150718',
 '20150717',
 '20150716',
 '20150715',
 '20150714',
 '20150713',
 '20150712',
 '20150711',
 '20150710',
 '20150709',
 '20150708',
 '20150707',
 '20150706',
 '20150705',
 '20150704',
 '20150703',
 '20150702',
 '20150701',
 '20150630',
 '20150629',
 '20150626',
 '20150625',
 '20150624',
 '20150623',
 '20150620',
 '20150619',
 '20150618',
 '20150617',
 '20150616',
 '20150615',
 '20150613',
 '20150612',
 '20150611',
 '20150610',
 '20150609',
 '20150608',
 '20150603',
 '20150602',
 '20150601',
 '20150530',
 '20150529',
 '20150528',
 '20150527',
 '20150526',
 '20150525',
 '20150524',
 '20150523',
 '20150522',
 '20150521',
 '20150520',
 '20150519',
 '20150518',
 '20150517',
 '20150516',
 '20150515',
 '20150514',
 '20150513',
 '20150512',
 '20150509',
 '20150508',
 '20150507',
 '20150501',
 '20150430',
 '20150429',
 '20150428',
 '20150427',
 '20150425',
 '20150424',
 '20150423',
 '20150422',
 '20150421',
 '20150420',
 '20150419',
 '20150418',
 '20150417',
 '20150416',
 '20150415',
 '20150414',
 '20150413',
 '20150412',
 '20150411',
 '20150410',
 '20150409',
 '20150408',
 '20150407',
 '20150406',
 '20150405',
 '20150404',
 '20150403',
 '20150402',
 '20150331',
 '20150330',
 '20150328',
 '20150327',
 '20150326',
 '20150325',
 '20150324',
 '20150323',
 '20150321',
 '20150320',
 '20150319',
 '20150318',
 '20150317',
 '20150316',
 '20150315',
 '20150314',
 '20150313',
 '20150312',
 '20150311',
 '20150310',
 '20150309',
 '20150308',
 '20150307',
 '20150306',
 '20150305',
 '20150304',
 '20150303',
 '20150302',
 '20150301',
 '20150228',
 '20150227',
 '20150226',
 '20150225',
 '20150224',
 '20150223',
 '20150222',
 '20150220',
 '20150219',
 '20150218',
 '20150217',
 '20150216',
 '20150215',
 '20150214',
 '20150213',
 '20150212',
 '20150211',
 '20150210',
 '20150209',
 '20150208',
 '20150207',
 '20150206',
 '20150205',
 '20150204',
 '20150203',
 '20150202',
 '20150201',
 '20150131',
 '20150130',
 '20150129',
 '20150128']

In [14]:
#set initial result_df as '서초' data
result_df = seoul_df_dict['서초']
result_df.head()

20160127    0.89999997615814209
20160126    -1.7000000476837158
20160125                   -7.5
20160124    -12.300000190734863
20160123    -8.8000001907348633
Name: avg_temp, dtype: object

In [15]:
#put all avg_temp data from each gu dataframe
#notice column name is all 'avg_temp'
for i in seoul_df_key_list:
    result_df = pd.concat([result_df, seoul_df_dict[i]], axis=1, join_axes=[seoul_df_dict['서초'].index])
    
result_df.head()

,avg_temp,avg_temp,avg_temp,avg_temp,avg_temp,avg_temp,avg_temp,avg_temp,avg_temp,avg_temp,...,avg_temp,avg_temp,avg_temp,avg_temp,avg_temp,avg_temp,avg_temp,avg_temp,avg_temp,avg_temp
20160127,0.89999997615814209,0.69999998807907104,-0.40000000596046448,0.20000000298023224,0.40000000596046448,0.60000002384185791,-0.40000000596046448,0.60000002384185791,0.89999997615814209,0.89999997615814209,...,1.2000000476837158,0,0.80000001192092896,0.80000001192092896,0.60000002384185791,-0.30000001192092896,-0.30000001192092896,0.5,0.40000000596046448,0.89999997615814209
20160126,-1.7000000476837158,-2,-3.9000000953674316,-3.0999999046325684,-1.8999999761581421,-1.7999999523162842,-3.2999999523162842,-2.9000000953674316,-2.9000000953674316,-1.7999999523162842,...,-2.2000000476837158,-2.0999999046325684,-2.4000000953674316,-2.7999999523162842,-2.7999999523162842,-2.4000000953674316,-2.5999999046325684,-1.8999999761581421,-2.9000000953674316,-2.5999999046325684
20160125,-7.5,-8.3000001907348633,-9.3000001907348633,-8.6000003814697266,-8.1999998092651367,-8,-9.1999998092651367,-8.3000001907348633,-8,-7.8000001907348633,...,-7.8000001907348633,-8.5,-7.9000000953674316,-8.3000001907348633,-8.3999996185302734,-8.8000001907348633,-9.1000003814697266,-8.1000003814697266,-8.5,-7.9000000953674316
20160124,-12.300000190734863,-13.300000190734863,-13.5,-13.399999618530273,-13.300000190734863,-13.100000381469727,-14.199999809265137,-13.300000190734863,-12.5,-12.899999618530273,...,-12.600000381469727,-13.300000190734863,-13.100000381469727,-12.699999809265137,-13.199999809265137,-13.399999618530273,-13.899999618530273,-13.199999809265137,-13.199999809265137,-12.800000190734863
20160123,-8.8000001907348633,-9.8000001907348633,-10,-10,-9.8000001907348633,-9.5,-10.699999809265137,-9.8000001907348633,-8.8999996185302734,-9.3999996185302734,...,-9,-9.8000001907348633,-9.6000003814697266,-9.3000001907348633,-9.6999998092651367,-9.8999996185302734,-10.5,-9.6999998092651367,-9.8000001907348633,-9.1999998092651367

In [21]:
#before change column name check the length 
print('key list length : {} result_df column length: {}'
      .format(len(seoul_df_key_list),len(result_df.columns)))

key list length : 25 result_df column length: 26

In [22]:
#change column name with df_key_list
#caution!!  we made result_df with initial df with '서초'
#make sure first row should be removed later

result_df.columns = ['sss'] + seoul_df_key_list
# result_df = result_df.drop(['sss'])

#remove initial data
del(result_df['sss'])

In [24]:
#check data
result_df.head()

,종로,도봉,성북,영등포,금천,중구,강남,송파,용산,서대문,...,강동,강서,성동,노원,중랑,마포,은평,구로,강북,광진
20150128,-3.2,-3.7,-3.3,-3.9,-3.3,-4.3,-3.4,-2.8,-3,-4.4,...,-2.8,-4.1,-3,-2.9,-3.3,-4.2,-4.4,-3.5,-3.1,-2.8
20150129,0.3,-1.1,-0.2,-0.6,0,-1,-0.4,-0.2,0.3,-0.9,...,0.1,-1,-0.1,-0.1,-0.2,-0.9,-1,-0.2,-0.1,0.2
20150130,-1.7,-2,-1.7,-2.1,-1.6,-2.8,-1.8,-0.8,-1.6,-2.9,...,-1.2,-2.1,-1.6,-1.2,-1.4,-2.2,-2.7,-1.9,-1.5,-1.1
20150131,-3.4,-3.6,-3.3,-3.7,-3.3,-4.2,-3.4,-2.8,-3.2,-4.4,...,-2.9,-4,-3,-2.8,-3.2,-4.2,-4.2,-3.5,-2.9,-2.7
20150201,-2.1,-2.8,-2.1,-2.5,-2.2,-3,-2,-1.9,-1.8,-3.2,...,-1.6,-2.9,-1.6,-1.9,-2,-3,-3,-2.2,-1.8,-1.5

In [23]:
#sort with index which is date
result_df = result_df.sort_index()

In [25]:
#check nan value and show rows 
pd.isnull(result_df).any(1).nonzero()

(array([ 28,  29,  30,  31,  32,  33,  56,  57, 166, 167, 168, 169, 170,
        171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183,
        184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196,
        197, 201, 202, 203, 204, 310, 311, 312, 313, 314, 315, 316]),)

In [26]:
#replace nan to 0
result_df.fillna(0, inplace=True)

In [27]:
#check nan 
pd.isnull(result_df).any(1).nonzero()

(array([], dtype=int64),)

In [32]:
#check type of the values
type(result_df['서초'][10])

str

In [33]:
#change value to float and round up on second
make_float = lambda x: float(x)
roundup = lambda x: round(x, 2)
result_df = result_df.applymap(make_float)
result_df = result_df.applymap(roundup)
result_df.head()

,종로,도봉,성북,영등포,금천,중구,강남,송파,용산,서대문,...,강동,강서,성동,노원,중랑,마포,은평,구로,강북,광진
20150128,-3.2,-3.7,-3.3,-3.9,-3.3,-4.3,-3.4,-2.8,-3.0,-4.4,...,-2.8,-4.1,-3.0,-2.9,-3.3,-4.2,-4.4,-3.5,-3.1,-2.8
20150129,0.3,-1.1,-0.2,-0.6,0.0,-1.0,-0.4,-0.2,0.3,-0.9,...,0.1,-1.0,-0.1,-0.1,-0.2,-0.9,-1.0,-0.2,-0.1,0.2
20150130,-1.7,-2.0,-1.7,-2.1,-1.6,-2.8,-1.8,-0.8,-1.6,-2.9,...,-1.2,-2.1,-1.6,-1.2,-1.4,-2.2,-2.7,-1.9,-1.5,-1.1
20150131,-3.4,-3.6,-3.3,-3.7,-3.3,-4.2,-3.4,-2.8,-3.2,-4.4,...,-2.9,-4.0,-3.0,-2.8,-3.2,-4.2,-4.2,-3.5,-2.9,-2.7
20150201,-2.1,-2.8,-2.1,-2.5,-2.2,-3.0,-2.0,-1.9,-1.8,-3.2,...,-1.6,-2.9,-1.6,-1.9,-2.0,-3.0,-3.0,-2.2,-1.8,-1.5

In [37]:
#try to change index using dateutil.parser
raw_index = list(result_df['서초'].index)
# raw_index is string format '20150128'

#change format and put it as list
date_index = []
for i in raw_index:
    date_index += [str(parser.parse(i).date())]
    
date_index

['2015-01-28',
 '2015-01-29',
 '2015-01-30',
 '2015-01-31',
 '2015-02-01',
 '2015-02-02',
 '2015-02-03',
 '2015-02-04',
 '2015-02-05',
 '2015-02-06',
 '2015-02-07',
 '2015-02-08',
 '2015-02-09',
 '2015-02-10',
 '2015-02-11',
 '2015-02-12',
 '2015-02-13',
 '2015-02-14',
 '2015-02-15',
 '2015-02-16',
 '2015-02-17',
 '2015-02-18',
 '2015-02-19',
 '2015-02-20',
 '2015-02-22',
 '2015-02-23',
 '2015-02-24',
 '2015-02-25',
 '2015-02-26',
 '2015-02-27',
 '2015-02-28',
 '2015-03-01',
 '2015-03-02',
 '2015-03-03',
 '2015-03-04',
 '2015-03-05',
 '2015-03-06',
 '2015-03-07',
 '2015-03-08',
 '2015-03-09',
 '2015-03-10',
 '2015-03-11',
 '2015-03-12',
 '2015-03-13',
 '2015-03-14',
 '2015-03-15',
 '2015-03-16',
 '2015-03-17',
 '2015-03-18',
 '2015-03-19',
 '2015-03-20',
 '2015-03-21',
 '2015-03-23',
 '2015-03-24',
 '2015-03-25',
 '2015-03-26',
 '2015-03-27',
 '2015-03-28',
 '2015-03-30',
 '2015-03-31',
 '2015-04-02',
 '2015-04-03',
 '2015-04-04',
 '2015-04-05',
 '2015-04-06',
 '2015-04-07',
 '2015-04-08',
 '2015-04-09',
 '2015-04-10',
 '2015-04-11',
 '2015-04-12',
 '2015-04-13',
 '2015-04-14',
 '2015-04-15',
 '2015-04-16',
 '2015-04-17',
 '2015-04-18',
 '2015-04-19',
 '2015-04-20',
 '2015-04-21',
 '2015-04-22',
 '2015-04-23',
 '2015-04-24',
 '2015-04-25',
 '2015-04-27',
 '2015-04-28',
 '2015-04-29',
 '2015-04-30',
 '2015-05-01',
 '2015-05-07',
 '2015-05-08',
 '2015-05-09',
 '2015-05-12',
 '2015-05-13',
 '2015-05-14',
 '2015-05-15',
 '2015-05-16',
 '2015-05-17',
 '2015-05-18',
 '2015-05-19',
 '2015-05-20',
 '2015-05-21',
 '2015-05-22',
 '2015-05-23',
 '2015-05-24',
 '2015-05-25',
 '2015-05-26',
 '2015-05-27',
 '2015-05-28',
 '2015-05-29',
 '2015-05-30',
 '2015-06-01',
 '2015-06-02',
 '2015-06-03',
 '2015-06-08',
 '2015-06-09',
 '2015-06-10',
 '2015-06-11',
 '2015-06-12',
 '2015-06-13',
 '2015-06-15',
 '2015-06-16',
 '2015-06-17',
 '2015-06-18',
 '2015-06-19',
 '2015-06-20',
 '2015-06-23',
 '2015-06-24',
 '2015-06-25',
 '2015-06-26',
 '2015-06-29',
 '2015-06-30',
 '2015-07-01',
 '2015-07-02',
 '2015-07-03',
 '2015-07-04',
 '2015-07-05',
 '2015-07-06',
 '2015-07-07',
 '2015-07-08',
 '2015-07-09',
 '2015-07-10',
 '2015-07-11',
 '2015-07-12',
 '2015-07-13',
 '2015-07-14',
 '2015-07-15',
 '2015-07-16',
 '2015-07-17',
 '2015-07-18',
 '2015-07-19',
 '2015-07-20',
 '2015-07-21',
 '2015-07-22',
 '2015-07-23',
 '2015-07-24',
 '2015-07-25',
 '2015-07-27',
 '2015-07-28',
 '2015-07-29',
 '2015-07-30',
 '2015-07-31',
 '2015-08-01',
 '2015-08-04',
 '2015-08-05',
 '2015-08-06',
 '2015-08-10',
 '2015-08-11',
 '2015-08-12',
 '2015-08-13',
 '2015-08-14',
 '2015-08-17',
 '2015-08-18',
 '2015-08-19',
 '2015-08-20',
 '2015-08-21',
 '2015-08-24',
 '2015-08-25',
 '2015-08-26',
 '2015-08-27',
 '2015-08-28',
 '2015-08-29',
 '2015-08-30',
 '2015-08-31',
 '2015-09-01',
 '2015-09-02',
 '2015-09-03',
 '2015-09-04',
 '2015-09-05',
 '2015-09-06',
 '2015-09-07',
 '2015-09-08',
 '2015-09-09',
 '2015-09-10',
 '2015-09-11',
 '2015-09-12',
 '2015-09-13',
 '2015-09-14',
 '2015-09-15',
 '2015-09-16',
 '2015-09-17',
 '2015-09-18',
 '2015-09-19',
 '2015-09-20',
 '2015-09-21',
 '2015-09-22',
 '2015-09-23',
 '2015-09-24',
 '2015-09-25',
 '2015-09-26',
 '2015-09-27',
 '2015-09-28',
 '2015-09-29',
 '2015-09-30',
 '2015-10-01',
 '2015-10-02',
 '2015-10-03',
 '2015-10-04',
 '2015-10-05',
 '2015-10-06',
 '2015-10-07',
 '2015-10-08',
 '2015-10-09',
 '2015-10-10',
 '2015-10-11',
 '2015-10-12',
 '2015-10-13',
 '2015-10-14',
 '2015-10-15',
 '2015-10-16',
 '2015-10-17',
 '2015-10-18',
 '2015-10-19',
 '2015-10-20',
 '2015-10-21',
 '2015-10-22',
 '2015-10-23',
 '2015-10-24',
 '2015-10-25',
 '2015-10-26',
 '2015-10-27',
 '2015-10-28',
 '2015-10-29',
 '2015-10-30',
 '2015-10-31',
 '2015-11-01',
 '2015-11-02',
 '2015-11-03',
 '2015-11-04',
 '2015-11-05',
 '2015-11-06',
 '2015-11-07',
 '2015-11-08',
 '2015-11-09',
 '2015-11-10',
 '2015-11-11',
 '2015-11-12',
 '2015-11-13',
 '2015-11-14',
 '2015-11-15',
 '2015-11-16',
 '2015-11-17',
 '2015-11-18',
 '2015-11-19',
 '2015-11-20',
 '2015-11-21',
 '2015-11-22',
 '2015-11-23',
 '2015-11-24',
 '2015-11-25',
 '2015-11-26',
 '2015-11-27',
 '2015-11-28',
 '2015-11-29',
 '2015-11-30',
 '2015-12-01',
 '2015-12-02',
 '2015-12-03',
 '2015-12-04',
 '2015-12-05',
 '2015-12-06',
 '2015-12-07',
 '2015-12-08',
 '2015-12-09',
 '2015-12-10',
 '2015-12-11',
 '2015-12-12',
 '2015-12-13',
 '2015-12-14',
 '2015-12-15',
 '2015-12-16',
 '2015-12-17',
 '2015-12-18',
 '2015-12-19',
 '2015-12-20',
 '2015-12-21',
 '2015-12-22',
 '2015-12-23',
 '2015-12-24',
 '2015-12-25',
 '2015-12-26',
 '2015-12-27',
 '2015-12-28',
 '2015-12-29',
 '2015-12-30',
 '2015-12-31',
 '2016-01-01',
 '2016-01-02',
 '2016-01-03',
 '2016-01-04',
 '2016-01-05',
 '2016-01-06',
 '2016-01-07',
 '2016-01-08',
 '2016-01-09',
 '2016-01-10',
 '2016-01-11',
 '2016-01-12',
 '2016-01-13',
 '2016-01-14',
 '2016-01-15',
 '2016-01-16',
 '2016-01-17',
 '2016-01-18',
 '2016-01-19',
 '2016-01-20',
 '2016-01-21',
 '2016-01-22',
 '2016-01-23',
 '2016-01-24',
 '2016-01-25',
 '2016-01-26',
 '2016-01-27']

In [40]:
#make new column with date_index
result_df['date'] = date_index

#and change 'date' column as index
result_df = result_df.set_index('date')
result_df.head()

,종로,도봉,성북,영등포,금천,중구,강남,송파,용산,서대문,...,강동,강서,성동,노원,중랑,마포,은평,구로,강북,광진
date,,,,,,,,,,,,,,,,,,,,,
2015-01-28,-3.2,-3.7,-3.3,-3.9,-3.3,-4.3,-3.4,-2.8,-3.0,-4.4,...,-2.8,-4.1,-3.0,-2.9,-3.3,-4.2,-4.4,-3.5,-3.1,-2.8
2015-01-29,0.3,-1.1,-0.2,-0.6,0.0,-1.0,-0.4,-0.2,0.3,-0.9,...,0.1,-1.0,-0.1,-0.1,-0.2,-0.9,-1.0,-0.2,-0.1,0.2
2015-01-30,-1.7,-2.0,-1.7,-2.1,-1.6,-2.8,-1.8,-0.8,-1.6,-2.9,...,-1.2,-2.1,-1.6,-1.2,-1.4,-2.2,-2.7,-1.9,-1.5,-1.1
2015-01-31,-3.4,-3.6,-3.3,-3.7,-3.3,-4.2,-3.4,-2.8,-3.2,-4.4,...,-2.9,-4.0,-3.0,-2.8,-3.2,-4.2,-4.2,-3.5,-2.9,-2.7
2015-02-01,-2.1,-2.8,-2.1,-2.5,-2.2,-3.0,-2.0,-1.9,-1.8,-3.2,...,-1.6,-2.9,-1.6,-1.9,-2.0,-3.0,-3.0,-2.2,-1.8,-1.5

In [ ]:
last_se = result_df.ix['20160127']
# last_se
last_se = last_se.sort_values(ascending=False)
sorted_last_gu_list = list(last_se.index)

In [ ]:
#set color and convert rgb to matplot accepts
row_color = [(31, 119, 180), (174, 199, 232), (255, 127, 14), (255, 187, 120),    
             (44, 160, 44), (152, 223, 138), (214, 39, 40), (255, 152, 150),    
             (148, 103, 189), (197, 176, 213), (140, 86, 75), (196, 156, 148),    
             (227, 119, 194), (247, 182, 210), (127, 127, 127), (199, 199, 199),    
             (188, 189, 34), (219, 219, 141), (23, 190, 207), (158, 218, 229),
            (161, 128, 173), (135, 106, 145), (141, 129, 145), (174, 68, 212),
            (66, 165, 194)] 
for i in range(len(row_color)):
    r, g, b = row_color[i]
    row_color[i] = (r/255., g/255., b/255.)
row_color[6]

In [ ]:
print(result_df.max().max())
print(result_df.min().min())

In [ ]:
result_df.plot(figsize=(10, 12))
plt.show()

In [ ]:
# Remove the plot frame lines. They are unnecessary chartjunk.    
# ax = plt.subplot(111)    
# ax.spines["top"].set_visible(False)    
# ax.spines["bottom"].set_visible(False)    
# ax.spines["right"].set_visible(False)    
# ax.spines["left"].set_visible(False)    
  
# Ensure that the axis ticks only show up on the bottom and left of the plot.    
# Ticks on the right and top of the plot are generally unnecessary chartjunk.    
# ax.get_xaxis().tick_bottom()    
# ax.get_yaxis().tick_left()    
  
# # Limit the range of the plot to only where the data is.    
# # Avoid unnecessary whitespace.    
# plt.ylim(-20, 40)    
# plt.xlim(20150120, 20160127)    
  
# # Make sure your axis ticks are large enough to be easily read.    
# # You don't want your viewers squinting to read your plot.    
# plt.yticks(range(-20, 41, 2), [str(x) + "°C" for x in range(-20, 41, 2)], fontsize=3)    
# plt.xticks(fontsize=10)    
  
# # Provide tick lines across the plot to help your viewers trace along    
# # the axis ticks. Make sure that the lines are light and small so they    
# # don't obscure the primary data lines.    
# for y in range(-20, 41, 2):   
#     plt.plot(range(20150120, 20160127), [y] * len(range(20150120, 20160127)), "--", lw=0.3, color="black", alpha=0.3)    
  
# # Remove the tick marks; they are unnecessary with the tick lines we just plotted.    
# plt.tick_params(axis="both", which="both", bottom="off", top="off",    
#                 labelbottom="on", left="off", right="off", labelleft="on")

In [ ]:
# for rank, column in enumerate(sorted_last_gu_list):
#     plt.plot(result_df.index.values,
#             result_df[column.replace("\n", " ")].values,
#             lw=2, color=row_color[rank])

In [ ]:
plt.show()